{% extends 'base.html' %}
{% load static %}
{% load stylefilter %}
{% block title %}
  Admin Login
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'customadmin/css/style.css' %}">
  <div class="heroSec">
    <img src="{% static 'customadmin/img/logo.svg' %}" alt="logo" id="logo">
  </div>
  <div class="logInSec">
    <form action="" method='post' class="logInSec">
      {% csrf_token %}
      <div class="box">
        <h2>Admin Login</h2>
        <div class="container">
          <img src="{% static 'customadmin/img/avatar.svg' %}" alt="avatar" id="avatar">
          {{ login_form.username|addcssid:'username' }}
          <br>
          <img src="{% static "customadmin/img/lock.svg" %}" alt="img" id="lock">
          {{ login_form.password|addcssid:'password' }}
          <br>
          <div class="submit">
            <button type='submit' id='login'>Login</button>
          </div>
          <br>
          <br>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
